h1 {
    font-family: Georgia;
    font-size: 60px;
    text-align: center;
    margin: 5px auto;
}

h3 {
    color: #63BC7B ;
    font-size: 30px;
    text-align: center;
    margin: 0px auto;
}

.list {
    background-color: blue;
    display: inline-block;
}

.dummy1 {
    background-color: green;
    display: inline-block;
    position: absolute;
}

.dummy2 {
   background-color: green; 
    display: inline-block;
   position: relative 30px;
   overflow: scroll;
}